

.flex {
  display: flex;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.directionColumn {
  flex-direction: column;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexWrap {
  width: ;
}