
:root {
  // ---Colors--->
  --raw-sienna: hsl(24, 74%, 58%);
  --raw-sienna-dark: hsl(27, 76%, 45%);
  --raw-dark-brown: hsl(27, 76%, 25%);
  --raw-dark-brown-lg: hsl(27deg 72.93% 20.83%);
  --raw-white: hsl(0, 0%, 96%);
  --raw-turquoise: hsl(180, 100%, 50%);
  --raw-red-accent: hsl(0, 100%, 50%);
  --raw-cambridge-blue: hsl(133, 12%, 69%);
  --raw-blue: hsl(240, 99%, 33%);
  --raw-green: hsl(120, 100%, 16%);


  --bg-primary: hsl(240, 3%, 93%);
}